RewriteEngine on

RewriteRule ^(index|signup|home|forgot-password|profile|members|logout)$ $1.php [NC,L]

RewriteRule ^profile/([^/]+)$ profile.php?username=$1 [NC,L]
RewriteRule ^post/([^/]+)/([^/]+)$ post.php?username=$1&post_id=$2 [NC,L]
RewriteRule ^reset/([^/]+)/([^/]+)$ reset-password.php?selector=$1&validator=$2 [NC,L]
RewriteRule ^messages/([^/]+)$ messages.php?username=$1 [NC,L]
RewriteRule ^edit/([^/]+)$ edit_profile.php?username=$1 [NC,L]
RewriteRule ^profile/([^/]+)/([^/]+)/edit$ edit_post.php?username=$1&post_id=$2&status=edit [NC,L]

ErrorDocument 404 /pegas/404.php