@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Josefin+Sans:wght@400&display=swap');

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans' !important;
    background: #eeeeee;
    overflow-x: hidden;
}

p, ul, form{margin: 0 !important;}

@import './components/main';
@import './components/signup';
@import './components/nav';
@import './components/home';
@import './components/profile';