@import url("https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Josefin+Sans:wght@400&display=swap");
body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Josefin Sans' !important;
  background: #eeeeee !important;
  overflow-x: hidden;
}

p, ul, form {
  margin: 0 !important;
}

.error {
  color: crimson;
  margin-top: 1rem;
  font-size: 1.1rem;
}

.logo {
  padding: 1rem 0;
}

.logo-img {
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 120px;
}

.logo-name {
  text-align: center;
  font-family: "Fredericka the Great";
  text-transform: uppercase;
  letter-spacing: 0.15rem;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main-join {
  font-size: 2.4rem;
  margin-top: 2rem;
  font-weight: bolder;
  letter-spacing: -1.5px;
}

.main-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 2rem 0;
}

.main-form > input {
  margin: 0.4em 0;
}

.main-form input {
  border: none;
  max-width: 400px;
  font-size: 1.3rem;
  padding: 10px;
  border-bottom: 3px solid #adadad;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.main-form input:focus {
  outline: none;
  border-color: crimson;
}

.main-form-forgot {
  color: crimson;
  font-size: 1.1rem;
}

.main-form-forgot:hover {
  color: crimson;
}

.main-form-login {
  border: none;
  margin-top: 0.8rem;
  border-radius: 50px;
  background: crimson;
  color: #fff;
  font-size: 1.4rem;
  padding: 10px 0;
  cursor: pointer;
}

.main-form-signup {
  font-size: 1.2rem;
  color: crimson;
  margin-left: auto;
  margin-top: 0.3rem;
}

.main-form-signup:hover {
  text-decoration: underline;
  color: crimson;
}

.signup {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.signup-header {
  margin-top: 2rem;
}

.signup-errmsg {
  color: crimson;
  font-size: 1.1rem;
}

.signup-sucmsg {
  color: teal;
  font-size: 1.1rem;
}

.signup-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1rem 0;
}

.signup-form > input {
  margin: 0.3em 0;
}

.signup-form input {
  border: none;
  max-width: 400px;
  font-size: 1.3rem;
  padding: 10px;
  border-bottom: 3px solid #adadad;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.signup-form input:focus {
  outline: none;
  border-color: #dc143c;
}

.signup-form-btn {
  border: none;
  margin-top: 1.5rem;
  border-radius: 50px;
  background: crimson;
  color: #fff;
  font-size: 1.4rem;
  padding: 8px 0;
  cursor: pointer;
}

.signup-form-login {
  font-size: 1.2rem;
  color: crimson;
  margin-left: auto;
  margin-top: 0.3rem;
}

.signup-form-login:hover {
  text-decoration: underline;
  color: crimson;
}

.nav {
  background: crimson;
  padding: 1rem 0;
}

.nav-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1355px) {
  .nav-flex {
    display: block;
  }
}

.nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 700px) {
  .nav-header {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav-header-logo {
  height: 90px;
}

.nav-header-brand {
  font-size: 2rem;
  color: #fff;
  margin-left: 1rem;
}

.nav-header-brand:hover {
  color: #fff;
}

.nav-article {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 1355px) {
  .nav-article {
    margin: 1rem 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (max-width: 745px) {
  .nav-article {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.nav-article-content {
  list-style: none;
  padding: 0 !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media (max-width: 745px) {
  .nav-article-content {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
  }
}

.nav-article-content li {
  margin-right: 3rem;
  font-size: 1.6rem;
}

@media (max-width: 745px) {
  .nav-article-content li {
    margin-right: 0;
  }
}

.nav-article-content li:last-child {
  margin-right: 0;
}

.nav-article-content li a {
  color: #eee !important;
}

.nav-search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav-search input {
  border-radius: 50px;
  border: none;
  padding: 3px 3px 3px 12px;
  font-size: 1.2rem;
}

.nav-search-btn {
  background: transparent;
  border: none;
  color: #dcdcdc;
  cursor: pointer;
  font-size: 1.3rem;
}

.dropdown-menu {
  width: 200px;
}

.dropdown-menu li a {
  color: crimson !important;
  font-size: 1.3rem;
  padding: 10px;
}

.dropdown-menu-badge {
  background: crimson;
  padding: 4px 4px 1px 4px;
  color: #fff;
  border-radius: 10px;
}

.home-post {
  padding: 0 0.5rem;
  margin: 1rem auto;
  width: 60%;
}

@media (max-width: 600px) {
  .home-post {
    width: 100%;
  }
}

.home-post textarea {
  width: 100%;
  font-size: 1.3rem;
  padding: 5px;
}

.home-post-btn {
  padding: 10px !important;
  margin: 0 !important;
}

.home-feed {
  text-align: center;
  padding: 2rem 0;
  font-weight: bold;
}

.home-card {
  margin: 1.4rem auto;
  background: #fff;
  width: 95%;
}

@media (max-width: 660px) {
  .home-card {
    width: 100%;
  }
}

.home-card-icons {
  border-radius: 0 !important;
  float: right;
  padding: 0.5rem;
}

.home-card-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 1.4rem 0.6rem;
}

.home-card-flex-user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.3rem;
}

.home-card-flex-user h4 a {
  font-weight: bold;
  color: crimson !important;
}

.home-card-flex-user h5 {
  color: #6d6d6d;
}

.home-card-profile {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.home-card-content {
  padding: 1.6rem 2rem;
  font-size: 1.7rem;
}

.home-card-img {
  width: 100%;
  max-height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

input[type='file'] {
  display: none;
}

.width-80 {
  width: 80%;
  margin: 0 auto !important;
}

@media (max-width: 850px) {
  .width-80 {
    width: 100%;
  }
}

.cover {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.cover img {
  width: 100%;
  height: 550px;
  -o-object-position: center;
     object-position: center;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
}

.cover-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 10px;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  opacity: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.cover-form:hover {
  opacity: 1 !important;
}

.cover:hover .cover-form {
  opacity: 0.7;
}

.profile {
  width: 250px;
  height: 100px;
}

.profile img {
  width: 200px;
  max-height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  position: relative;
  top: -100px;
  left: 20px;
  border-radius: 50%;
  border: 2px solid #ebebeb;
}

.profile-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  bottom: 60px;
  left: 55px;
  z-index: 10;
  opacity: 0;
  -webkit-transition: 400ms;
  transition: 400ms;
}

.profile-form:hover {
  opacity: 1 !important;
}

.profile:hover .profile-form {
  opacity: 0.7;
}

.about {
  background: crimson;
  color: #fff;
  padding: 20px;
  margin: 10px 10px 10px 0;
}

.about span {
  font-size: 1.2rem;
  color: #dcdcdc;
  font-weight: bold;
}

.about-text {
  padding: 0.5rem;
  color: #ebebeb;
  font-style: italic;
  font-size: 1.2rem;
}

.edit-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.edit-form textarea {
  width: 60%;
  font-size: 1.3rem;
  margin: 2rem 0;
}

.edit-form img {
  max-height: 600px;
}

.width-60 {
  width: 60%;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .width-60 {
    width: 100%;
  }
}

.width-50 {
  width: 50%;
  margin: 0 auto;
}

@media (max-width: 800px) {
  .width-50 {
    width: 100%;
    padding: 0 1rem;
  }
}

.home-card-full {
  max-height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.comment {
  background: #dbdbdb;
  border-radius: 15px;
  margin-bottom: 1rem;
  position: relative;
}

.comment-delete {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 1.3rem;
}

.comment-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.comment-info h5 {
  padding: 0.8rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.comment-info h5 a {
  color: crimson;
}

.comment-info h5 small {
  font-size: 0.9rem;
  color: gray;
  font-weight: bold;
}

.comment-profile {
  width: 40px;
  height: 40px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.comment-content {
  padding: 0rem 1.3rem 0.5rem 4rem;
  font-size: 1.1rem;
  font-family: sans-serif;
}

.comment-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 2rem 0;
}

.comment-form input[type='text'] {
  border: none;
  border-bottom: 3px solid gray;
  background: transparent;
  width: 80%;
  -webkit-transition: 500ms;
  transition: 500ms;
  font-size: 1.4rem;
}

.comment-form input[type='text']:focus {
  border-color: crimson;
}

.comment-input {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  font-size: 1.3rem;
  color: #fff;
  background: crimson;
}

.comNum {
  background: crimson;
  color: #fff;
  padding: 3px 4px 0 4px;
  border-radius: 10px;
}

.connect-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3rem 0;
}

@media (max-width: 560px) {
  .connect-form {
    margin: 0 1rem;
  }
}

.connect-form input {
  border: none;
  background: transparent;
  width: 80%;
  border-bottom: 3px solid gray;
  -webkit-transition: 500ms;
  transition: 500ms;
  font-size: 1.3rem;
  margin-right: 1rem;
}

.connect-form input:focus {
  border-color: crimson;
}

.connect-card {
  background: #e0e0e0;
  margin: 0.5rem;
  padding: 0.7rem;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.connect-card:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
  -webkit-box-shadow: 2px 2px 10px 2px #333;
          box-shadow: 2px 2px 10px 2px #333;
}

.connect-card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.connect-card-row img {
  height: 100px;
  width: 100px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 560px) {
  .connect-card-row img {
    height: 55px;
    width: 55px;
  }
}

.connect-card-row p {
  position: absolute;
  top: 50%;
  right: 50px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
  font-size: 1.2rem;
}

@media (max-width: 560px) {
  .connect-card-row p {
    right: 5px;
    font-size: 1rem;
  }
}

.connect-card-col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 1.5rem;
}

.connect-card-col a {
  color: crimson;
}

@media (max-width: 560px) {
  .connect-card-col h4 {
    font-size: 1.1rem;
  }
}

@media (max-width: 560px) {
  .connect-card-col h5 {
    font-size: 1rem;
  }
}

.width-90 {
  width: 90%;
  margin: 0 auto;
}

.messages {
  color: #333;
}

.messages:hover {
  color: crimson;
}

.messages-heads {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0.7rem;
  padding: 0.5rem 0 0.5rem 1rem;
  border-radius: 20px;
  -webkit-transition: 400ms;
  transition: 400ms;
  position: relative;
}

.messages-heads img {
  border-radius: 50%;
  -webkit-transition: 200ms;
  transition: 200ms;
  width: 70px;
}

.messages-heads-name {
  padding-left: 1rem;
  font-size: 1.05rem;
}

.messages-heads:hover {
  background: #dfdfdf;
}

.messages-heads:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.messages-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2rem 0;
}

.messages-info a {
  color: crimson;
}

.messages-info img {
  border-radius: 50%;
}

.messages-info-name {
  font-size: 1.6rem;
  padding-top: 0.6rem;
}

.messages-info-username {
  color: gray;
  font-weight: bold;
}

.messages-msg {
  height: 450px;
  overflow-y: auto;
  padding: 1rem;
  background: #d1d1d1;
  border-radius: 20px;
}

.messages-msg-reciever {
  background: gray;
  color: #fff;
  padding: 5px 15px 2px 15px;
  border-radius: 18px;
  font-size: 1.25rem;
  margin: 5px;
  float: left;
  clear: both;
}

.messages-msg-sender {
  background: crimson;
  color: #fff;
  padding: 5px 15px 2px 15px;
  border-radius: 18px;
  margin: 5px;
  font-size: 1.25rem;
  float: right;
  clear: both;
}

.messages-users {
  height: 450px !important;
  overflow-y: auto !important;
}

.messages-form {
  padding: 1.5rem 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.messages-form input[type="text"] {
  width: 80%;
  background: transparent;
  border: none;
  border-bottom: 3px solid gray;
  font-size: 1.3rem;
}

.messages-form input[type="submit"] {
  margin: 0 1rem;
}

#red {
  background: rgba(220, 20, 60, 0.2);
}

.new {
  background: crimson;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  right: 15px;
  -webkit-transform: translate(0, -50%);
          transform: translate(0, -50%);
}

.edit-table {
  margin: 0 auto;
  width: 80%;
}

@media (max-width: 660px) {
  .edit-table tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.edit-table tr td {
  font-size: 1.1rem;
  padding: 0.8rem 1rem;
  border: 1px solid #dfdfdf;
}

@media (max-width: 660px) {
  .edit-table tr td {
    width: 100%;
    margin: 0 auto;
  }
}

.edit-table-describe {
  width: 90%;
}

#myImg {
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

#myImg:hover {
  opacity: 0.85;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 80px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
  background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 65%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-animation-name: zoom;
          animation-name: zoom;
  -webkit-animation-duration: 700ms;
          animation-duration: 700ms;
}

@-webkit-keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes zoom {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.close {
  position: fixed;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

@media only screen and (max-width: 900px) {
  .modal-content {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */